body{

    background-color: #F3F3F3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    background-color: #E9E9E9;
    margin: auto;

    margin-top: 500x;
    width: 37.5rem;
    box-shadow: .0625rem .1875rem .5rem .0625rem rgba(0, 0, 0, 0.2);
    border-radius: .3125rem;
    overflow: hidden;

}

.header{

    padding: 40px;

}

.flex-container{

    display: flex;
  
    justify-content: space-around;
    
   

}

.header-title{
    color: #006f6f;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;

}

.header-subtitle{

    
    font-size: 18.4px;
    font-weight: 500;
    margin-bottom: .9375rem;
}

.col-1{

    background-color: #006D6D;
    width: 50%;
    padding: 20px;
    color: #ffffff;

}

.col-2{

    background-color:#009e9e;
    width: 50%;
    padding: 10px 20px;
    color: #ffffff;
    
}
;
.subscription-title{
    font-size: 1.2496px;
    text-align: center;
    margin-bottom: 15px;
    
}

.price{
    font-size: 1.6rem;
    font-weight: 700;
}

.month{
    font-size: .9rem;
    font-style: italic;
    margin-left: .625rem;
}

.button{

    width: 100%;
    padding: .9375rem 2rem;
    background-color: #CCCCCC;
    border-radius:.3125rem;
   color: #006a6a;
   font-size: 1rem;
   border: none;
   margin-top: 1.25rem;
   cursor: pointer;
}

.button:hover{

    background-color: #E9E9E9;


}


 .img-group{
    text-align: center;
    
 }

 @media screen and (max-width:620px){

    html{

        font-size: 14px;
    }

    .flex-container{
        flex-direction: column;
        
    }

    .col-1, .col-2{
        width: 100%;
        box-sizing: border-box; /* define o tamanho do conteudo de acordo com o layout da pagina*/
    }

    .container{

        width: 95%;
    }



   
 }