body{

    background-color: #F3F3F3;
}

.container{
    background-color: #E9E9E9;
    margin: auto;
    width: 600px;
    

}

.header{

    padding: 20px;

}

.flex-container{

    display: flex;
    background-color: #006D6D;
    justify-content: space-around;
    padding: 20px;

}